<div class="ui grid">
    <div class="three wide column">
        {{#ui-dropdown class="selection" onChange=(action "select")}}
            <div class="default text">Nivel de Poder</div>
            <i class="dropdown icon"></i>
            <div class="menu">
            {{#each powerLevels.list as |level index|}}
                <div class="item" data-value="{{index}}">
                {{level.name}}
                </div>
            {{/each}}
            </div>
        {{/ui-dropdown}}
    </div>
    <div class="nine wide column">
          <div class="ui segment">
              <div class="content">
                  <div class="header">Descripción</div>
                  <div class="meta"><{{character.powerLevel.name}}/div>
                  <div class="description">
                    {{character.powerLevel.description}}
                  </div>
              </div>
       </div>
    </div>
</div>
