<h3 class="ui header"> Nivel de poder</h3>
<div class="ui one column grid">
    <div class="column">
        {{#ui-dropdown class="selection ui input fluid" onChange=(action "select")}}
            <div class="default text">Nivel de Poder</div>
            <i class="dropdown icon"></i>
            <div class="menu">
            {{#each powerLevels.list as |level index|}}
                <div class="item" data-value="{{index}}">
                {{level.name}}
                </div>
            {{/each}}
            </div>
        {{/ui-dropdown}}
    </div>
      <div class="column">
      {{#if character.powerLevel}}
          <div class="ui segment">
          <div class="content">
              <div class="header">Descripción</div>
              <div class="meta"><{{character.powerLevel.name}}/div>
              <div class="description">
                {{character.powerLevel.description}}
              </div>
         </div>
         </div>
       {{/if}}
   </div>
</div>
