<div>
  {{#if showRequeriments}}
    <div class="ui warning floating  message">
      <i class="close icon"  {{action "click"}}></i>
      <div class="header">
        Has superado las siguientes restricciones:
      </div>
      <ul class="list">
        {{#if skillsLimitations}}
        <li>Límites de nivel de Habilidades superado</li>
        {{/if}}
        {{#if talentsMaxPDLimitations}}
          <li>PD máximo superado en los Talentos</li>
        {{/if}}
        {{#if talentsRequirementsLimitations}}
          <li>No cumples con los requisitos en algún talento</li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
</div>
