
  <td>
    <div class="ui ribbon label">{{skill.name}}</div>
  </td>
  <td>{{ui-checkbox label="" checked=skill.isTrainning readonly=isReadOnly onChange=(action  (mut skill.isTrainning) )}}</td>
  <td>{{skill.PD}}</td>
  <td>{{skill.level}}</td>
