<div class="ui statistics pd">
    <div class="ui mini  statistic">
        <div class="value">
            22
        </div>
        <div class="label">
           PD actuales
        </div>
    </div>
    <div class="ui mini  statistic">
        <div class="value">
            {{if character.powerLevel.points character.powerLevel.points 0}}
        </div>
        <div class="label">
           PD ideales
        </div>
    </div>
    <div class="ui mini  statistic">
        <div class="value" {{action "modifyDestiny" 'useDestiny'}}>
            {{ character.destinyPoints }}
        </div>
        <div class="label">
           Destino
        </div>
    </div>
</div>
{{#ui-modal name="useDestiny" class="useDestiny" }}
  <div class="content">
    <form onsubmit="return false;"  class="ui form">
      <div class="field">
        <label>Puntos de Destino</label>
      {{input type="number" value=character.destinyPoints placeholder="puntos de destino" }}
      </div>
    </form>
  </div>
{{/ui-modal}}
