<div class="ui  column grid segment">
  <div class="ui column">
    <div class="ui list ">
      <div class="item">
        <div class="header">Humanidad</div>
        {{character.humanity}}
      </div>
      <div class="item">
        <div class="header">Estrés</div>
        {{character.stress}}
      </div>
      <div class="item">
        <div class="header">Locura</div>
        {{character.madness}}
      </div>
      <div class="item">
        <div class="header">Corrupción</div>
        {{character.corruption}}
      </div>
    </div>
  </div>
</div>
