<form class="ui form">
  <div class="field">
       <div class="four fields">
          <div class="field">
            <label>Humanidad</label>
          {{input type="number" value=character.humanity placeholder="Humanidad" }}
          </div>

          <div class="field">
          <label>Estrés</label>
          {{input type="number" value=character.stress placeholder="Estrés" }}
          </div>

          <div class="field">
            <label>Locura</label>
          {{input type="number" value=character.madness placeholder="Locura" }}
          </div>

          <div class="field">
            <label>Corrupción</label>
          {{input type="number" value=character.corruption placeholder="Aspecto" }}
          </div>
      </div>
  </div>
</form>
