<div class="ui menu">
  <div class="header item">
      CdBGenerator Company
  </div>
    {{#link-to 'about' class="item"}}
    About
    {{/link-to}}
</div>
<div class="ui container">
        {{outlet}}
</div>
