<div class="ui menu">
  <div class="header item">
      CdBGenerator
  </div>
    {{#link-to 'about' class="item"}}
    About
    {{/link-to}}
    <div class="right menu">
      <div class="ui item orange">beta</div>
    </div>

</div>
<div class="ui container" id="main-container">
        {{outlet}}
</div>
